## Care home identification notebook

this notebook is the latest version as of 17/08/2024 for identifying care home residents in connected bradford after some issues wih previous scripts were identified. it is the number that will be used in the final analysis, having it in a jupytner notebook format also enabls it to be easily upliaded to github to be made freely available.

In [43]:
library(bigrquery)
library(tidyverse)

In [44]:
ProjectId = "yhcr-prd-bradfor-bia-core"

targetdb1 <- "yhcr-prd-bradfor-bia-core.CB_2172"
targetdb1 <- gsub(" ","",targetdb1)

In [3]:
#first query selects all individuals admitted to a care home at any point no age or date restrictions

In [45]:
sql1 <- 
paste(
    'with a  as (
SELECT person_id, 
tbl_bmbc_AdultSocialCare_Services_start_date, 
servicetype, 
FinalisedPSR, 
row_number() over
(partition by person_id order by tbl_bmbc_AdultSocialCare_Services_start_date) as care_seq 
from ',targetdb1,'.tbl_bmbc_AdultSocialCare_Services
where ServiceType in("Nursing","Residential") 
),
b as (
select 
* 
from a
where care_seq = 1
order by person_id, tbl_bmbc_AdultSocialCare_Services_start_date),

c as 
(SELECT person_id,
tbl_bmbc_AdultSocialCare_Services_end_date, 
servicetype, 
row_number() over (partition by person_id order by tbl_bmbc_AdultSocialCare_Services_end_date desc) as care_end_seq 
from ',targetdb1,'.tbl_bmbc_AdultSocialCare_Services
where ServiceType in("Nursing","Residential") )
,

d as (select
* from c 
where care_end_seq = 1),

e as (
select 
b.person_id,
b.tbl_bmbc_AdultSocialCare_Services_start_date as first_episodestartdate,
d.tbl_bmbc_AdultSocialCare_Services_end_date as last_episodestopdate,
b.ServiceType as admission_service,
b.finalisedPSR
from b 
LEFT join d on
b.person_id= d.person_id
order by person_id),

f as (
Select 
e.*,
date_diff(e.last_episodestopdate,e.first_episodestartdate,day) as admission_length
from e
),

h as (
SELECT
f.person_id,
f.admission_length,
f.admission_service,
first_episodestartdate,
f.last_episodestopdate,
#ethnicity.Ethnic_Group
EXTRACT(DATE FROM (g.birth_datetime)) as birth_datetime,
f.first_episodestartdate as date_of_admission,
EXTRACT(DATE FROM (g.death_datetime)) as death_datetime,
g.gender_source_value as gender,
o.observation_period_end_date
FROM f 
LEFT JOIN ',targetdb1,'.person g on
f.person_id = g.person_id
#LEFT JOIN ',targetdb1,'.care_home_cohort_v1_ethnicity ethnicity on 
#f.person_id = ethnicity.person_id
LEFT JOIN ',targetdb1,'.observation_period o on
f.person_id = o.person_id
 ),

g as (
select
DATE_DIFF(first_episodestartdate, birth_datetime, YEAR) as age_admission,
h.*,
from h
where first_episodestartdate < "2019-12-31"
order by age_admission desc)

select
*
from g



;',sep="")

sql_tbl <-bq_project_query(ProjectId,sql1)
sql_data <- bq_table_download(sql_tbl)

In [5]:
#convert vectors to date

In [46]:
sql_data$death_date <- as_date(sql_data$death_datetime)
sql_data <- sql_data %>% select(-death_datetime)

In [47]:
sql_data$episodestartdate <- as_date(sql_data$first_episodestartdate)
sql_data$episodestopdate <- as_date(sql_data$last_episodestopdate)
sql_data <- sql_data %>% select(-first_episodestartdate,-last_episodestopdate)

In [48]:
sql_data$birth_date <- as_date(sql_data$birth_datetime)
sql_data <- sql_data %>% select(-birth_datetime)
sql_data$ob_period_end_date <- as_date(sql_data$observation_period_end_date)
sql_data <- sql_data %>%  select(-observation_period_end_date)

In [9]:
# remove those inidividuals admitted on dates that were identified as being erroneous
# (i.e. these individuals were actually admitted into a care home prior to 2016, but had no start date so the date was put as the date of upload, creating some skew) 
# this has been confirmed with the individual who built the social care FDM in Connected bradford

In [49]:
sql_data_1 <- 
sql_data %>% filter(!(episodestartdate == "2016-04-04"))%>%
filter(!(episodestartdate == "2016-07-25"))%>% 
filter(!(episodestartdate == "2016-08-22"))%>% 
filter(!(episodestartdate == "2015-11-02"))

In [50]:
sql_data_1 %>% n_distinct('person_id')

[1] 4048

In [51]:
sql_data_1

     age_admission person_id admission_length admission_service
1    110           13165651    70             Residential
2    108           12773259    10             Nursing
3    105           12993099   116             Nursing
4    104           12503132    23             Nursing
5    104           12984164    18             Nursing
6    104           12696288   671             Residential
7    104           12757662   866             Residential
8    104           12606511    85             Residential
9    104           13729945   171             Nursing
10   103             442273   326             Nursing
11   103           13273683    58             Residential
12   103             544561   343             Residential
13   103           12913109   871             Residential
14   103           12584650   585             Residential
15   102           12801304    28             Nursing
16   102           12500037   172             Residential
17   102           12467337   966             Residential
18   101           13361237   180             Residential
19   101           13279677   556             Residential
20   101           12724972  1415             Residential
21   101           13226660    64             Residential
22   101           13445988    32             Residential
23   101            6522226    97             Nursing
24   101           13453198    93             Residential
25   101           12856514    10             Nursing
26   101             666516    54             Nursing
27   101           12479283    28             Residential
28   100           12618575   297             Residential
29   100           12849162    19             Nursing
30   100           13422929    69             Nursing
⋮    ⋮             ⋮         ⋮                ⋮
4019 25            12741400   210             Nursing
4020 24            13000267   215             Residential
4021 24            12687797   191             Residential
4022 24            13362350   151             Residential
4023 24            13669716   952             Residential
4024 24            13660152    NA             Residential
4025 24            12857746   936             Residential
4026 22            13636732  1328             Residential
4027 21            12945702   125             Residential
4028 21            12809527   526             Residential
4029 21                8803   693             Residential
4030 20            12784341    10             Nursing
4031 20            13043792   671             Residential
4032 19            13685471  1037             Residential
4033 19            12718637    79             Nursing
4034 19            13707739  2166             Residential
4035 19            13368429  1836             Residential
4036 19            12727242  1004             Residential
4037 19            13650004  1486             Residential
4038 19            13435101   929             Nursing
4039 19            13660525  2309             Residential
4040 19              182734  1044             Residential
4041 19            12873811   202             Residential
4042 18            12519122   946             Residential
4043 18            12426311   323             Residential
4044 18            12632399   213             Residential
4045 18            13189150   390             Residential
4046 18            13731790  1208             Residential
4047 18            13032234    83             Residential
4048 18            13310167  1136             Residential
     date_of_admission gender death_date episodestartdate episodestopdate
1    2017-10-31        F      2018-01-15 2017-10-31       2018-01-09
2    2019-04-05        F      2019-04-15 2019-04-05       2019-04-15
3    2018-07-20        F      2018-11-15 2018-07-20       2018-11-13
4    2019-05-07        F      2019-05-15 2019-05-07       2019-05-30
5    2019-07-10        F      2019-07-15 2019-07-10       2019-07-28
6    2019-08-23        F      2021-06-15 2019-08-23       2021-06-24
7    2019-10-03        F      2022-02-15 2019-10-03       2022-02-15
8    2019-02-06        F      2019-05-15 2019-02-06       2019-05-02
9    2018-09-03        F      2019-02-15 2018-09-03       2019-02-21
10   2016-12-13        F      2017-11-15 2016-12-13       2017-11-04
11   2019-07-31        F      2019-10-15 2019-07-31       2019-09-27
12   2019-12-02        F      2020-11-15 2019-12-02       2020-11-09
13   2019-05-01        F      2021-09-15 2019-05-01       2021-09-18
14   2018-06-01        F      2020-01-15 2018-06-01       2020-01-07
15   2017-01-19        F      2017-02-15 2017-01-19       2017-02-16
16   2019-08-14        F      2020-02-15 2019-08-14       2020-02-02
17   2018-12-09        F      2021-08-15 2018-12-09       2021-08-01
18   2017-02-08        F      2017-08-15 2017-02-08       2017-08-07
19   2017-11-03        F      2019-05-15 2017-11-03       2019-05-13
20   2018-10-10        F      2022-08-15 2018-10-10       2022-08-25
21   2018-02-01        F      2018-04-15 2018-02-01       2018-04-06
22   2017-11-15        F      2017-12-15 2017-11-15       2017-12-17
23   2019-12-24        F      2020-03-15 2019-12-24       2020-03-30
24   2017-02-02        F      2017-05-15 2017-02-02       2017-05-06
25   2019-05-24        F      2019-06-15 2019-05-24       2019-06-03
26   2018-01-16        F      2018-03-15 2018-01-16       2018-03-11
27   2018-11-01        F      2018-11-15 2018-11-01       2018-11-29
28   2019-11-12        F      2020-09-15 2019-11-12       2020-09-04
29   2018-01-08        M      2018-01-15 2018-01-08       2018-01-27
30   2019-02-07        M      2019-04-15 2019-02-07       2019-04-17
⋮    ⋮                 ⋮      ⋮          ⋮                ⋮
4019 2016-08-08        M      <NA>       2016-08-08       2017-03-06
4020 2017-05-31        F      <NA>       2017-05-31       2018-01-01
4021 2017-01-28        F      <NA>       2017-01-28       2017-08-07
4022 2018-02-01        M      <NA>       2018-02-01       2018-07-02
4023 2016-11-14        M      <NA>       2016-11-14       2019-06-24
4024 2019-02-04        M      <NA>       2019-02-04       <NA>
4025 2019-09-19        M      2022-04-15 2019-09-19       2022-04-12
4026 2018-07-10        M      <NA>       2018-07-10       2022-02-27
4027 2018-08-13        M      <NA>       2018-08-13       2018-12-16
4028 2017-06-02        F      <NA>       2017-06-02       2018-11-10
4029 2017-11-06        F      <NA>       2017-11-06       2019-09-30
4030 2019-10-31        M      <NA>       2019-10-31       2019-11-10
4031 2016-07-22        M      <NA>       2016-07-22       2018-05-24
4032 2016-09-07        F      <NA>       2016-09-07       2019-07-11
4033 2019-04-01        M      <NA>       2019-04-01       2019-06-19
4034 2016-12-05        M      <NA>       2016-12-05       2022-11-10
4035 2016-10-21        F      <NA>       2016-10-21       2021-10-31
4036 2018-01-24        M      <NA>       2018-01-24       2020-10-24
4037 2017-03-31        M      <NA>       2017-03-31       2021-04-25
4038 2019-01-12        M      <NA>       2019-01-12       2021-07-29
4039 2016-08-31        M      <NA>       2016-08-31       2022-12-27
4040 2016-08-31        M      <NA>       2016-08-31       2019-07-11
4041 2017-11-27        M      <NA>       2017-11-27       2018-06-17
4042 2017-08-28        M      <NA>       2017-08-28       2020-03-31
4043 2018-09-11        M      <NA>       2018-09-11       2019-07-31
4044 2017-12-25        M      <NA>       2017-12-25       2018-07-26
4045 2016-05-24        M      <NA>       2016-05-24       2017-06-18
4046 2017-06-15        M      <NA>       2017-06-15       2020-10-05
4047 2018-09-24        M      <NA>       2018-09-24       2018-12-16
4048 2016-11-04        F      <NA>       2016-11-04       2019-12-15
     birth_date ob_period_end_date
1    1907-09-15 2018-01-09
2    1911-07-15 <NA>
3    1913-03-15 2018-09-21
4    1915-06-15 <NA>
5    1915-11-15 <NA>
6    1915-11-15 2021-06-03
7    1915-09-15 2022-02-16
8    1915-02-15 2019-05-02
9    1914-10-15 2019-02-20
10   1913-01-15 2016-10-27
11   1916-12-15 2019-09-27
12   1916-07-15 2020-11-10
13   1916-02-15 2021-09-20
14   1915-04-15 2020-01-08
15   1915-01-15 <NA>
16   1917-10-15 2020-02-05
17   1916-04-15 2021-07-29
18   1916-12-15 2017-08-08
19   1916-12-15 2019-05-13
20   1917-12-15 2022-08-30
21   1917-12-15 2018-04-07
22   1916-09-15 <NA>
23   1918-10-15 2020-04-03
24   1916-07-15 2017-05-02
25   1918-03-15 <NA>
26   1917-05-15 2018-01-07
27   1917-12-15 <NA>
28   1919-02-15 2020-09-05
29   1918-09-15 <NA>
30   1919-12-15 2019-03-07
⋮    ⋮          ⋮
4019 1991-07-15 <NA>
4020 1993-07-15 <NA>
4021 1993-04-15 <NA>
4022 1994-07-15 <NA>
4023 1992-12-15 <NA>
4024 1995-04-15 <NA>
4025 1995-12-15 <NA>
4026 1996-09-15 <NA>
4027 1997-10-15 <NA>
4028 1996-05-15 <NA>
4029 1996-01-15 <NA>
4030 1999-02-15 <NA>
4031 1996-09-15 <NA>
4032 1997-08-15 <NA>
4033 2000-03-15 <NA>
4034 1997-12-15 <NA>
4035 1997-11-15 <NA>
4036 1999-05-15 <NA>
4037 1998-04-15 <NA>
4038 2000-12-15 <NA>
4039 1997-07-15 <NA>
4040 1997-06-15 <NA>
4041 1998-12-15 <NA>
4042 1999-06-15 <NA>
4043 2000-05-15 <NA>
4044 1999-12-15 <NA>
4045 1998-05-15 <NA>
4046 1999-06-15 <NA>
4047 2000-09-15 <NA>
4048 1998-11-15 <NA>

In [12]:
#how many aged less than 65

In [52]:
sql_data_below_65 <- sql_data_1 %>% filter(age_admission < 65)
n_distinct(sql_data_below_65$person_id)

[1] 370

In [53]:
sql_data_above_sixtyfive <- sql_data_1 %>% filter(age_admission >= 65) 
sql_data_above_sixtyfive %>% n_distinct()

[1] 3678

In [15]:
#here we bring in the mortality data to reduce number of missig death dates

In [54]:
sql_death <- paste('
with a as (SELECT cast(person_id as BIGNUMERIC) person_id,
dod,
tbl_NEC_Deaths,
reg_date,
rank() over(partition by person_id order by dod desc, reg_date desc) as rank_seq
from ',targetdb1,'.tbl_NEC_Deaths
where cast(person_id as BIGNUMERIC) in (SELECT person_id from ',targetdb1,'.person where death_datetime is null)),

b as (
select
*,
row_number() over(partition by person_id order by person_id) as rank_seq_2
from a 
where rank_seq = 1)

select 
person_id, dod,reg_date from b 
where rank_seq_2 = 1 
order by person_id 
;',sep="")

tbl_death <-bq_project_query(ProjectId,sql_death)
ch_death<- bq_table_download(tbl_death)

Auto-refreshing stale OAuth token.

In [55]:
ch_death <- ch_death %>% mutate(date_death = ifelse(is.na(dod), reg_date,dod))

In [56]:
ch_death$date_death <- as_date(ch_death$date_death)
    ch_death$person_id <- as.numeric(ch_death$person_id)

In [19]:
## join death certificate tibble to the deathdate in the master cohort table

In [57]:
ch_death_filter <- ch_death %>% select(person_id,date_death)
sql_data_above_sixtyfive <- left_join(sql_data_above_sixtyfive,ch_death_filter,by='person_id')

In [58]:
sql_data_above_sixtyfive <- sql_data_above_sixtyfive %>%
mutate(dod = coalesce(sql_data_above_sixtyfive$death_date,sql_data_above_sixtyfive$date_death))%>% 
select(-death_date,-date_death)

In [59]:
sql_data_above_sixtyfive <- sql_data_above_sixtyfive %>% mutate(mortality = dod-episodestartdate)

In [60]:
alive_morethan_6weeks <- sql_data_above_sixtyfive %>% filter((mortality > 42) |is.na(dod))

In [61]:
alive_morethan_6weeks %>% n_distinct()

[1] 3036

In [62]:
##next we remove anyone who was discharged within 42 days or died within 42 days
#first we calculate the number and then remove anyone who died within 42 days 
long_stay_resident <- alive_morethan_6weeks %>% filter(episodestopdate > (episodestartdate + ddays(x=42)))

In [26]:
#second, of  those remaining, we calculate and remove those who had a recorded legnth of stay of 42 days or less. 
#the two figures combined (number died withi 42 days and number discharged alive) gives the total number filtered at this stage.

In [63]:
long_stay_resident %>% n_distinct()

[1] 2910

## ghostbusting

In [28]:
# we identified anyone with missing primary care data and removed them, 
# this is most likely because whilst they are recieving social care funding from the bradford local authorty they are not registered to a GP contributing to Connected Bradford.

first get rid of anyone who doesn't appear in the primary care dataset

i then calculate follow-up period for the care home cohort hypertension analysis. Follow-up is based on the observation period recorded in connected bradford for the primary care. The observation period is defined as spans of time during which two conditions are expected to hold: (i) Clinical Events that happened to the person are recorded in the Event tables, and (ii) absence of records indicate such Events did not occur during this span of time. A person's follow-up period is defined as the time up until obersvation period end date in primary care. This project pulls data from mutliple different datasets i.e. primary,secondary,social care datasets: the follow-up times in these datasets may vary for any given individual, however I chose primary care on the basis that if someone is registered to a GP in bradford, if they had any clinical event requiring secondary care data they would be picked up by the secondary care datasets.

first remove those whose primary car eobservation period date ended before care home admission date, this was only 19 people

In [64]:
#care_home_cohort_clean_1 <- long_stay_resident %>% 
#filter(!(long_stay_resident$person_id %in% tbl_missing$primary_care_person))

#add in follow-up duration variable 

care_home_cohort_clean_1 <- long_stay_resident %>% mutate(fu_period = (ob_period_end_date - episodestartdate))

the 'ghosts' are those who had a missing death date

In [66]:
#send the final care home cohort back to bigquery as a table so it can be ran through the other queries
care_home_cohort_clean_1$mortality <- as.numeric(care_home_cohort_clean_1$mortality)

add in a new variable that distinugihses whether the person died during follow-up, whether the person was alive at the end of FU (defined as end of obsevation period) or lost-to-follow-up based on follow up until 1st january 2024

In [85]:
care_home_cohort_clean_2 <- care_home_cohort_clean_1 %>%
  mutate(end_of_fu_status = case_when(
    is.na(dod) & !is.na(ob_period_end_date) ~ 'survived',
    !is.na(dod) ~ 'died',
    is.na(dod) & (is.na(ob_period_end_date) | ob_period_end_date > as_date(19724)) ~ 'lost to follow up'
  )) 

care_home_cohort_clean_2$end_of_fu_status <- as.factor(care_home_cohort_clean_2$end_of_fu_status)

In [32]:
#bigquery doesn't like the difftime vectors so i need to conert them into numeric units 
#so i can send it back to bigquery 
#i then also created a new vector which is follow-up duration, this is either the date of death or last observation date (if they had no death date) subtracted from the ch admission date 
#to calculat ethe median follow-up. i also got rid of some defunct vectors to keep things tidy

In [86]:
care_home_cohort_clean_2$mortality <- as.numeric(care_home_cohort_clean_2$mortality)
care_home_cohort_clean_2$fu_period <- as.numeric(care_home_cohort_clean_2$fu_period)
care_home_cohort_clean_3 <- care_home_cohort_clean_2 %>% 
mutate(fu_end_date=(coalesce(care_home_cohort_clean_2$dod,care_home_cohort_clean_2$ob_period_end_date))) 
care_home_cohort_clean_4 <- care_home_cohort_clean_3 %>% select(-fu_period,-ob_period_end_date,-admission_length) %>% 
mutate(fu_duration= fu_end_date - episodestartdate)
care_home_cohort_clean_4$fu_duration <- as.numeric(care_home_cohort_clean_4$fu_duration)

In [34]:
#for the next section i had to re-run some code after connected bradford had moved over to trust servers, but i did not have all the data i wanted available. this meant i had to try and subset what i did have by the hypertension cohort table to 
#to do the final analysis

In [87]:
sql_htn <- paste('
select
person_id
from ',targetdb1,'.cb_2172_hypertension_combined
where hypertension = TRUE
                     ;',sep="")

tbl_htn <-bq_project_query(ProjectId,sql_htn)
tbl_htn <- bq_table_download(tbl_htn)

In [88]:
#subset cohort by those with hypertension diagnosis
care_home_cohort_htn <- care_home_cohort_clean_4 %>% filter(person_id %in% tbl_htn$person_id)

In [90]:
care_home_cohort_htn$end_of_fu_status %>% table()

.
             died lost to follow up          survived
             1965                 1                62

In [91]:
#remove those with fu end date before episode startdate
care_home_cohort_htn_missing <- care_home_cohort_htn %>% filter(!is.na(fu_end_date)) %>% filter(episodestartdate > fu_end_date)

In [92]:
care_home_cohort_htn_clean <- care_home_cohort_htn %>% filter(!(person_id %in% care_home_cohort_htn_missing$person_id))

In [40]:
#next is to calculate the median follow-up time

In [93]:
mybq = bq_table(project='yhcr-prd-bradfor-bia-core', dataset='CB_2172', table='care_home_cohort_v1')
bq_table_upload(x= mybq, values= care_home_cohort_htn_clean, create_disposition='CREATE_IF_NEEDED', 
             write_disposition='WRITE_TRUNCATE')

in this next section we will calculate the follow-up period for the care home residents based on the primary care end observation date